.Vacations {
	margin: auto;
	height: 100%;
    
}
.VacationCard{
    border: 1px solid black;
}

.container {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}
